body{
    padding: 0;
    margin: 0;
    background: #35BAA5;
    transition:  .4s ease all;
   &.dark{

    background-color: #144740;
   }
   
}

.calcu {
    display: grid;
    min-height: 140vh;
    
    background: url(img/pngwing.com\ -\ copia.png);
    grid-template-columns: repeat(4, 14.72vw);
    grid-template-rows: minmax(0.78vw, auto) repeat(8, 6.69vw) ;
    justify-content: center;
    align-content: center;
    border: 3.51vh solid black;
    box-shadow: 0 0 0.39vw rgba(0, 0, 0, 0.2);
    font-size: 2.34vw;
    
   
}


.calcu i{
    font-size:2.34vw ;
}
.calcu input{
    width: 32.25vw;
    height: 1.56vw;

}

.calcu button {
    cursor: pointer;
    font-size: unset;
    outline: none;
    border: 2px solid black;
  
    
}

body.dark .calcu button{
    background-color: #5E5E58;
}


.calcu button:hover{
    color: black;
    background: gray;

    
}

body.dark button:hover{
    background: linear-gradient(70deg, transparent,#5E5E6C );

}
.result{
    grid-column: 1 / -1;
    background: linear-gradient(60deg, black, gray, black);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    padding: 3.51vh;
    font-size: 2.34vw;
   
}
.result .display{
    color: black;
    text-align: right;
    font-size: 1.85rem;
}

